<nav class="navbar mobile-header">
  <%= link_to back_path, class: "back-button" do%>
    <span><i class="fa fa-arrow-left"></i></span>
  <% end %>
  <h3 class="header-title"><%= title %></h3>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn text-light" %>
</nav>