<div class="card activity-container">
  <div class="g-0 d-flex align-items-center p-2">
        <h3 class="activity-detail">Transaction N°<%= activity_category.activity.id%></h3>
    <div class="w-50 mx-3">
        <h4 class="activity-body"><%= activity_category.activity.name %></h5>
    </div>
    <div class="w-50 ml-4 pl-4">
      <h5 class="activity-amount">$ <%= activity_category.activity.amount %></h4>
    </div>
  </div>
</div>
