.splash-bg {
  background-image: image-url("splash_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 100%;

  .sign_in_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 220px;
    width: 90%;

    .welcome-title {
      font-family: montserrat, sans-serif;
      font-style: normal;
      font-size: 2rem;
      color: white;
      margin-bottom: 30px;
    }

    .welcome-body {
      font-family: montserrat, sans-serif;
      font-size: 1rem;
      color: white;
      margin-bottom: 30px;
    }

    .login-btn {
      background-color: #3778c2;
      color: white;
    }
  }
}
