<div class="catgories-container d-flex flex-column">
  <%= render partial: "_partials/header", locals: { title: "YOur Categories", back_path: root_path} %>
  <div class="category-cards">
    <% @categories.each do |category|%>
      <%= render "_partials/cards/category", category: category%>
    <%end%>
  </div>
  <%= render "_partials/buttons/add_new_item", label: "Add New Category" %>
</div>