<h1>activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.amount %></td>
        <td><%= link_to 'Show', activity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New activity', new_activity_path %>
